header {
    background-color: rgb(58, 100, 74);

    padding: 10px;
    color: white;
    border-bottom: solid 10px peachpuff;
}

.aside {
    position: relative;
    display: inline;
    text-align: right;
    padding: 100px;


}

body {
    text-align: center;
}

input {
    text-align: center;
    border: 5px solid rgb(218, 173, 133);

}

.contact {

    background-color: peachpuff;
    border-top: solid 3px rgb(218, 173, 133);
}

.white {
    color: white;
}

footer {
    background-color: rgb(58, 100, 74);
    height: 60px;
}